* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
  --line-clamp: 1;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: unset;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  background-color: #171100;
  color: #fff;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}

.heading-lv2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.26;
  letter-spacing: -2%;
  text-align: start;
}
/* header */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  padding: 8px 21px;
  color: #5f5b53;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 48px;
}
/* hero */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}
/* hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 670px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  padding: 24px;
  width: 270px;
  position: absolute;
  border-radius: 12px;
  bottom: 48px;
  right: 0;
  background-color: #fff;
}

.hero-summary .icon {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .item {
  align-items: center;
  display: flex;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
}

/* hero right */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  font-family: Poppins;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .cta-group {
  margin-top: 36px;
  display: flex;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  display: flex;
  border: none;
  background-color: transparent;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px #00000012;
}
.hero .watch-video span {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.66;
  color: #171100;
  margin-left: 14px;
}

.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  font-family: Sen;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
  margin-right: 15px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
}
.popular .info .heading-lv2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -2%;
}
.popular .info .desc {
  margin-top: 16px;
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: 1.66;
  color: #5f5b53;
}

.popular .controls {
  display: flex;
  align-items: center;
  gap: 18px;
}

.popular .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}
.popular .control-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
/* course lists */

.popular .course-lists {
  margin-top: 55px;
  display: flex;
}
.popular .course-item {
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e2dfda;
  flex: 1;
}

.popular .course-item:hover {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 18px 36px 0px #0000000d;
  border: 1px solid transparent;
}

.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  opacity: 1;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

.popular .course-item + .course-item {
  margin-left: 30px;
}

.popular .course-item .info {
  padding: 16px 22px 22px 22px;
}
.popular .course-item .foot,
.popular .head .rating,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .head .title a {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.66;
  color: #171100;
}
.popular .rating .value {
  font-family: Poppins;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--primary-color);
  margin-left: 6px;
}

.popular .course-item .desc {
  margin-top: 6px;
  font-family: Poppins;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}
.popular .course-item .foot {
  margin-top: 12px;
}

.popular .foot .price {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.8rem;
  line-height: 1.67;
}
.popular .foot .btn-course {
  border: none;
}

.popular .foot .btn-course:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
}

/* Feedback */
.feedback {
  margin: 135px 0 200px;
  background: #2e2100;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-item {
  display: flex;
  padding: 124px 135px 96px 0;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
}

.feedback .info .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .info .desc-student {
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 2.4rem;
  line-height: 1.42;
  margin-top: 18px;
  color: #f7f7f7;
}

.feedback .info .desc {
  margin-top: 4px;
  font-family: Poppins;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.feedback .info .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}

.feedback .info .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}

.feedback .info .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback-item blockquote {
  font-family: Poppins;
  font-style: Italic;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

.feedback .feedback-item .content {
  width: 66%;
}

.feedback .feedback-item .info {
  width: 34%;
}
/* features */
.features {
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .body .images {
  display: flex;
  gap: 30px;
}
.features .body .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
}

.features .lower {
  margin-top: 34px;
}

.features .content .desc {
  margin-top: 16px;
  font-family: Poppins;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background-color: var(--primary-color);
}

.features .desc.line-clamp {
  --line-clamp: 3;
}
/* features 2nd */
.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

.features-2nd .content {
  width: 49%;
}
